<div class="row mt-4">

  <div class="col">
    <input type="search" class="form-control border-left-0 border-top-0 shadow-none border-right-0 rounded-0 sb" placeholder="Vignesh Kumar">
  </div><!--col-end-->

  <div class="col-auto dropdown">
    <button class="btn btn-sm sm-dd dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select action
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div><!--dropdown-end-->
</div><!--row-end-->
<!-- ======================================================================= tab nav end ============================================================================== -->
<div class="row mt-4 py-1">
  <div class="col d-flex flex-wrap align-items-center">
    <a routerLink="/ContactForm" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-2" />New</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12 col-xl-12">
    <table id="example" class="table" style="width:100%">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Contact Type</th>
          <th>Full Name</th>
          <th>Contact No</th>
          <th>Email ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Individual</td>
          <td>Vignesh Kumar</td>
          <td>999999999</td>
          <td>vignesh@test.com</td>
          <td> <a href="#"><div id="icon-edit" title="Edit"></div></a> <a href="#"><div title="Delete" id="icon-delete"></div></a><a href="#"><div title="View" id="icon-view"></div></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Individual</td>
          <td>Vignesh Kumar</td>
          <td>999999999</td>
          <td>vignesh@test.com</td>
          <td> <a href="#"><div id="icon-edit" title="Edit"></div></a> <a href="#"><div title="Delete" id="icon-delete"></div></a><a href="#"><div title="View" id="icon-view"></div></a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Business Entity</td>
          <td>Vignesh Kumar</td>
          <td>999999999</td>
          <td>vignesh@test.com</td>
          <td> <a href="#"><div id="icon-edit" title="Edit"></div></a> <a href="#"><div title="Delete" id="icon-delete"></div></a><a href="#"><div title="View" id="icon-view"></div></a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Business Entity</td>
          <td>Vignesh Kumar</td>
          <td>999999999</td>
          <td>vignesh@test.com</td>
          <td> <a href="#"><div id="icon-edit" title="Edit"></div></a> <a href="#"><div title="Delete" id="icon-delete"></div></a><a href="#"><div title="View" id="icon-view"></div></a></td>
        </tr>

      </tbody>

    </table>
  </div>
</div> 
