<div class="row mt-4">

  <div class="col">
    <input type="search" class="form-control border-left-0 border-top-0 shadow-none border-right-0 rounded-0 sb" placeholder="Vignesh Kumar 1- 54-896543">
  </div><!--col-end-->

  <div class="col-auto dropdown">
    <button class="btn btn-sm sm-dd dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select action
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div><!--dropdown-end-->
</div><!--row-end-->
<!-- ======================================================================= tab nav end ============================================================================== -->
<div class="row mt-4 py-1">
  <div class="col d-flex flex-wrap align-items-center">
    <a routerLink="/LoansCreation" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-2" />New</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12 col-xl-12">
    <table id="example" class="table" style="width:100%">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Loan Type</th>
          <th>Loan Name</th>
          <th>Loan Code </th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Vehicle loan</td>
          <td>Vehicle - 2 Wheeler Loan</td>
          <td>VLV2W00100001</td>
          <td>Active</td>
          <td> <a href="#"><div id="icon-edit"></div></a> <a href="#"><div id="icon-delete"></div></a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Vehicle loan</td>
          <td>Used Vehicle Loan</td>
          <td>VLUVL001001001</td>
          <td>Active</td>
          <td> <a href="#"><div id="icon-edit"></div></a> <a href="#"><div id="icon-delete"></div></a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Vehicle loan</td>
          <td>Commercial Vehicle Loan</td>
          <td>VLCVL001001001</td>
          <td>Active</td>
          <td> <a href="#"><div id="icon-edit"></div></a> <a href="#"><div id="icon-delete"></div></a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Home loan</td>
          <td>Home loan</td>
          <td>HLFW00100001</td>
          <td>Active</td>
          <td> <a href="#"><div id="icon-edit"></div></a> <a href="#"><div id="icon-delete"></div></a></td>
        </tr>

      </tbody>

    </table>
  </div>
</div>    
